fastapi==0.115.6
uvicorn[standard]==0.30.6
SQLAlchemy==2.0.36
psycopg[binary]==3.2.3
alembic==1.14.0
python-dotenv==1.0.1
itsdangerous==2.2.0
Jinja2==3.1.4

python-multipart==0.0.9

redis==5.0.8
python-telegram-bot==21.6
