body {
  background: #111;
  color: #fff;
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

button {
  width: 90%;
  padding: 15px;
  margin: 10px 0;
  background: #2a9df4;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 8px;
}
